name: Build CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    
    - name: Set up JDK
      uses: actions/setup-java@v2
      with:
        distribution: 'zulu'
        java-version: '11'
    
    - name: Make gradlew executable
      run: chmod +x ./gradlew
      
    - name: Spotless check
      run: ./gradlew spotlessCheck
    
    - name: Build debug APK
      run: ./gradlew assembleDebug --warning-mode all --stacktrace
    
    - name: Upload APK
      uses: actions/upload-artifact@v2
      with:
        name: app-debug
        path: app/build/outputs/apk/debug/app-debug.apk
