name: Gradle version checker

on:
#  push:
#    branches: [ master ]

  schedule:
    # Runs at 01:00 UTC on the 1, 8, 15, 22 and 29th of every month.
    - cron: '0 1 */7 * *'
  workflow_dispatch:

jobs:
  gradle-versions-checker:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '11'

      - name: Cache gradle, wrapper and buildSrc
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-${{ github.job }}-${{ hashFiles('**/*.gradle*') }}-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}-${{ hashFiles('**/buildSrc/**/*.kt') }}
          restore-keys: |
            ${{ runner.os }}-${{ github.job }}-

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Dependency updates
        run: ./gradlew dependencyUpdates
