name: Qodana

on:
  push:
    branches: [ master ]
    paths-ignore: [ '**.md', '**.MD' ]
  pull_request:
    branches: [ master ]
    paths-ignore: [ '**.md', '**.MD' ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: JetBrains/qodana-action@v2023.2.6
        with:
          linter: jetbrains/qodana-jvm-android:latest
          fail-threshold: 10
          upload-result: true
