name: reviewdog-suggester
on:
  pull_request:
    types: [opened, synchronize, reopened]

env:
  CI: true

jobs:
  kotlin:
    name: runner / suggester / spotless
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: master
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '11'
      - name: Cache gradle, wrapper and buildSrc
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-${{ github.job }}-${{ hashFiles('**/*.gradle*') }}-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}-${{ hashFiles('**/buildSrc/**/*.kt') }}
          restore-keys: |
            ${{ runner.os }}-${{ github.job }}-
      - name: Make gradlew executable
        run: chmod +x ./gradlew
      - run: ./gradlew spotlessKotlinApply
      - uses: reviewdog/action-suggester@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tool_name: spotless
      # Since "reviewdog/action-suggester" using "spotlessKotlinApply" does not work with forked PR,
      # perform "spotlessKotlinCheck".
      - name: Make gradlew executable
        run: chmod +x ./gradlew
      - run: ./gradlew spotlessKotlinCheck
      - name: Make gradlew executable
        run: chmod +x ./gradlew
      - run: ./gradlew lintDebug
